<!-- Title -->
<title>InText | Soluciones de Procesamiento de Documentos</title>
<meta charset="utf-8">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta itemprop="name" content="InText | Soluciones de Procesamiento de Documentos">
<meta name="description" content="Maximiza tu productividad automatizando el procesamiento de documentos">
<meta name="author" content="InTextMx">
<meta itemprop="image" content="<%= url %>/img/logos/thumbnail.png">
<link itemprop="thumbnailUrl" href="<%= url %>/img/logos/thumbnail.png">
<link rel="icon" href="<%= url %>/img/logos/favicon.ico" />
<link rel="shortcut icon" href="<%= url %>/img/logos/favicon.ico">