<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" style="text-align: left" href="index.html">
      <img src="public/assets/img/logos/logo-white.svg" alt="Logo" style="width: 63%">
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Procesos
      </li>
      <li class="sidebar-item active">
        <div style="padding: .1rem 1.4rem .1rem 1.45rem">
          <select class="form-select" style="background: #ffffff15; color: #ffffffa0; border-color: #ffffff25;">
            <option style="color: #777" selected="">General</option>
            <option style="color: #777">das</option>
          </select>
        </div>
      </li>

      <li class="sidebar-header">
        Principal
      </li>
      <li class="sidebar-item active">
        <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
          <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Documentos</span>
          <span class="badge badge-sidebar-primary">5</span>
        </a>
        <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
          <li class="sidebar-item active"><a class="sidebar-link" href="dashboard-default.html">General</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="dashboard-analytics.html">+ Crear carpeta</a></li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="database"></i> <span class="align-middle">Extracción</span>
        </a>
        <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="pages-profile.html">Profile</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="pages-settings.html">Settings</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="pages-clients.html">Clients</a></li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">Actividad</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">Equipo</span>
        </a>
      </li>

      <li class="sidebar-header">
        Opciones
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Perfil</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Ajustes</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Cerrar sesión</span>
        </a>
      </li>




    </ul>


  </div>
</nav>
